FTVM_DATABASE_URL=sqlite:///./data/flipthis.db
FTVM_DATA_DIR=./projects
FTVM_MODEL_DIR=./models
FTVM_CACHE_DIR=./.cache
FTVM_FFMPEG_PATH=ffmpeg
FTVM_FFPROBE_PATH=ffprobe
FTVM_PROVIDER_CONFIG=./config/providers.yaml
FTVM_BIND_HOST=127.0.0.1
FTVM_BIND_PORT=8000
FTVM_MAX_UPLOAD_MB=100
FTVM_MAX_JOB_RETRIES=2
FTVM_GPU_VIDEO=0
FTVM_GPU_SECONDARY=1
